aiohttp>=3.12.0
httpx==0.28.1
python-dotenv==1.0.1
psycopg[binary]==3.2.10
pyjwt==2.10.1
fastapi==0.111.0
starlette==0.37.2
pydantic==2.10.5
pydantic-settings==2.7.1
loguru==0.7.3
prometheus-client>=0.23.1
